* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.input {
    margin: 30px;
}

.input-box {
    display: inline-block;
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    background-color: white;
    
}

.output {
    margin: 30px;
}


.output-box {
    display: inline-block;
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    background-color: white;
}

.translate-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    
    button {
        padding: 10px;
        margin: 10px;

    }
}